@import "./typography.scss";
@import "../utils/variables.scss";
@import "../utils/mixins.scss";

@keyframes fadeIn{
    0%{opacity:0;}  
    50%{opacity:0;}
    100%{opacity:1;}
}
@keyframes fadeOut{
    0%{opacity:1;}  
    50%{opacity:0.1;}
    100%{display: none;};
}

*{
    box-sizing: border-box;
}
.movie-container{
    max-width: 100%;
    max-height: 100%;
    margin-top: 25px;
    margin-bottom: auto; 
    background-color: rgb(180, 180, 180); 
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    animation: fadeIn 1s;
}

#onScreen{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 25px 25px;
    text-align: center;
    text-transform: uppercase;
    animation: fadeIn 1s;
}
#encantoMovie{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(' ./../assets/img/NaszeMagiczneEncanto.jpg');

}
#batmanMovie{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(' ./../assets/img/Batman.jpg');
    }
#unchartedMovie{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(' ./../assets/img/Uncharted.jpg');
    }
#movieTitle{
        display: flex;
        justify-content: center;
        color: darkred;
        font-size: $font-size;
        width: 300px;
        height: auto; 
        margin-bottom: 25px; 

        border-bottom: 1px solid grey; 
        text-transform: uppercase;
        font-weight: bold;
        position:absolute;  
    }

.description{
    display: none;
    width: 100%;
    height: 100%;
    background-size: cover; 
    background-color: rgba(0, 0, 0, 0.0);
    padding: 25px;
    text-align: center;
    color: darkgrey;  
    transition-timing-function: ease-in-out;

    p{
        margin-bottom: 25px;  
        text-transform: uppercase;
    };
}

.movie-box{
    // @include moviesBox();
    width: 300px;
    height: 450px;
    margin: 50px;
    overflow: hidden;
    border: 1px solid red;
    border-radius: 25px;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    &:hover{
        @include changeMovieBox();
        .description{
            transition: 1s;
            background-color: rgba(0, 0, 0, 0.7); 
            display: flex;
            flex-direction: column;
            flex: 1;
        }
        .buyBtn{
            visibility: visible;
            position: absolute;
        };
    }
}

nav{
    @include navBar();
}
.logInNavBtn{
    @include loginNavBtn();
}

.buyBtn{
    @include buyButton();
    &:hover{
        background-color: red;
        transition: 0.5s;
        opacity: 1;
    }
}
#bigHall{
    display: none;
}

.seat-container{
    width: 400px;
    margin-bottom: 100px;
}
#rowSign{
    width: 20px;
    height:auto;
    margin: 0 10px;
    text-align: center;
    font-size: 14px;
    }
.rowNum{
    height: 12px;
    width: 15px;
    margin: 3px;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-size: 14px;
    &:nth-last-of-type(2){
        margin-left: 18px;
    }
    &:nth-of-type(2){
        margin-right: 18px;
    }
}
.seat{
    background-color: gray;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-size: 10px;
    &:nth-last-of-type(2){
        margin-left: 18px;
    }
    &:nth-of-type(2){
        margin-right: 18px;
    }
}
.selected{
        background-color: green;
    }

.sold{
        background-color: red;
    }

.seat:not(.sold):hover{
        cursor:pointer;
        transform: scale(1.2);
}
.showcase{
    .seat:not(.sold):hover{
        cursor: default;
        transform: scale(1);
    }
    background-color: rgba(255, 1, 1, 0.2);
    padding: 5px 10px;
    border-radius: 5px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    li{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
    }
    small{
        margin-left: 2px;
        }
}
.row{
    display: flex;
    justify-content: center;
}

.screen{
    background-color: aliceblue;
    height: 10px;
    width: 400px;
    margin: 0 0 50px 0;
    box-shadow: 0 3px 5px rgba(aliceblue, $alpha: 0.7);
    margin-left: 50%;
    transform: translate(-50%);
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    flex-direction: column; 
    margin-top: 50px; 
    margin-bottom: 100px;
    .left-column{ 
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
        width: auto;
        height: auto;
        background-color: rgba(255, 1, 1, 0.2);
        #calendarIcon{
            font-size: 48px;
            color: black;
            margin: auto 10px;
        }
        #filmIcon{
            font-size: 48px;
            color: black;
            margin: auto 10px;
        }
        #locationIcon{
            font-size: 48px;
            color: black;
            margin: auto 10px;
        }
    }
    .submitBtn{
        @include buttonStyle();
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 50%;
        transform: translate(-50%, -50%);
    }
    .right-column{
        width: 100%;
        height: auto; 
        position: absolute;
        text-align: center;
        color: white;
        display: flex;
        justify-content: center;
        align-content: center; 
        .finishBtn{
            @include buttonStyle();
            margin-top: 50px;
            margin-bottom: 50px;
        }
        h1{
            padding-bottom: 10px;
            border-bottom: 1px solid darkred;
            margin: 10px 25%;
        }
        h3{
            padding-bottom: 10px;
            margin: 25px 25%;
            border-bottom: 1px solid darkred;
        }

    }
}
#mustBeLogged{
    display: flex; 
    align-content: center;
    color: white;
    background-color: darkred;
    border-radius: 10px;
    margin: 0 25%;
    width: auto; 
    height: auto;
    text-align: center; 
    margin-bottom: 50px; 
    display: none;
    h3{
        padding: 10px; 
    }

}

@media all and (min-width: 399px) and (max-width: 728px){ 
    .left-column{ 
        flex-flow: column;
        #calendarIcon{
            transform: scale(0.8);
            display: flex;
            justify-content: center;
        }
        #filmIcon{
            transform: scale(0.8);
            display: flex;
            justify-content: center;
        }
        #locationIcon{
            transform: scale(0.8);
            display: flex;
            justify-content: center; 
        }
    }
    .movie-container{
        transform: scale(0.8);
        border-radius: 10px; 
    }
    #onScreen{
        transform: scale(0.8); 
        margin-bottom: 0;
    }
    #mustBeLogged{
        transform: scale(0.8);  
    }

}

@media all and (min-width: 0) and (max-width: 398px){
    // .movie-box{
    //     transform: scale(0.5);
    // } 
    .movie-container{
        border-radius: 10px; 
    } 
    #movieTitle{
        display: none;
    }
    .left-column{ 
        flex-flow: column;
        #calendarIcon{ 
            display: flex;
            justify-content: center;
        }
        #filmIcon{
            display: flex;
            justify-content: center;
        }
        #locationIcon{
            display: flex;
            justify-content: center; 
        }
    }
}
